@import "chat.css";
@import "controls.css";

html {
    background: lightgrey;
    font-family: arial;
}
#app {
    padding: 0px 20px 0px 20px;
}
h1 {
    height: 40px;
    background: lightgrey;
}
#num-online {
    float: right;
    line-height: 80px;
    font-size: 20px;
    color: dodgerblue;
}
